.maintitle {
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  position: center;
  text-align: center;
  font-size: 100px;
}

body {
  background-color: darkslategrey;
}

#container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
}

#todo-list {
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  position: center;
  text-align: center;
  font-size: 50px;
}

.task {
  color: pink;
}
