body {
  display: flex;
  height: 100vh; /* 화면 전체 높이만큼 body로 설정 */
  flex-direction: column;
  align-items: center; /* 수직 가운데 정렬 */
  background-color: #BBB1D6;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  text-align: center;
  font-size: 100px;
  position: center;
  margin: 20px;
  margin-top: 30px;
}

main {
  background-color: white;
  text-align: center;
  padding: 50px;
  margin-top: 20px;
  height: 60%;
  border-radius: 0.5rcap;
}

#todo-input {
  padding: 30px;
}

input {
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 0.5rcap;
  border: 1px solid darkgray;
  outline: none;
  color: gray;
  vertical-align: top; /* 한글-영어크기차이 고정 */
}

input:hover {
  background-color: #F2F2F2;
  transition-duration:.5s;
}

input::placeholder {
  color: gainsboro;
}

main button {
  font-size: 30px;
  background-color: darkgrey;
  color: white;
  border-radius: 0.5rcap;
  border: none;
  padding: 10px 20px;
  border: 1px solid darkgrey;
}

#del-all {
  background-color: salmon;
}

#del-all:hover {
  background-color: white;
  color: salmon;
  cursor: pointer;
  border: 1px solid salmon;
  transition-duration:.5s;
}

main button:hover {
  background-color: gainsboro;
  color: #BBB1D6;
  cursor: pointer;
  transition-duration: .5s;
  border: 1px solid gainsboro;
}

#todo-list {
  text-align: left;
  color: gray;
  font-size: 20px;
  list-style-position: inside;
  padding-left: 0;
  overflow-y: scroll;
  height: 80%;
}

::-webkit-scrollbar {
  display: none;
}

#todo-list li {
  margin: 10px;
  border-radius: 0.5rcap;
  border: 1px solid darkgrey;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todo-list li:hover {
  transform: scale(1.03);
  transition-duration:.5s;
  cursor: pointer;
}

#todo-list li div {
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 400px;
}

#todo-list li .checked {
  /*취소선*/
  text-decoration: line-through;
}

#todo-list li .checked #check-btn{
  /*취소선*/
  background-color: darkgrey;
}

#check-btn:hover {
  background-color: darkgrey;
}

#del-btn {
  font-size: 20px;
  left: 0%;
  padding: 10px 10px;
  color: gray;
  background-color: transparent;
}

#del-btn:hover {
  background-color: darkgrey;
  color: white;
}

#check-btn {
  font-size: 20px;
  right: 0%;
  padding: 10px 10px;
  color: gray;
  background-color: transparent;
}